div.about
    .avatar
        img(src='./images/logos/skeleton.png', alt='Social avatar')
    h1 Break a Bubble
    p Plugin pro prohlížeče na analýzu a rozbití vaší bubliny na sociálních sítích. Aplikace byla vytvořena na #[a(href="https://www.fakehacks.cz/" target="_blank") hackathonu FakeHacks 2018] a ještě není zdaleka dokončená.