div.box.about
    .avatar
        img(src='./images/logos/toilet-paper.png', alt='Social avatar')


    h1 To'Let
    h2 ...YOU USE OUR TOILET
    p Become the early adopter and repay your gratitude for the toilet service to the restaurant.

    //a(href='https://www.facebook.com/messages/t/toletpay', target='_blank')
    //a(href='https://www.facebook.com/messages/t/415260838925159', target='_blank')
    a(href='http://m.me/toletpay', target='_blank')
        button
            img(src="./images/logos/facebook-messenger.png")
            span Open in Messenger