div

    .box.events
        h2 News

        ul
            li
                b 4/3/2018
                a(href='https://www.facebook.com/swprague/photos/ms.c.eJw1y8ENwEAIA8GOIuCMjftvLMopfEe7yfAUB87IcD15QVEXhAV3iyLmhyO0OEFvAd2lFjD9QTlfGLoUkQ~-~-.bps.t.1416254989/1609827479101029/?type=3&theater', target='_blank') Winning Startup Weekend Prague


    .box.authors
        h2 Dream Team

        a.logobubble(href='https://www.facebook.com/jano.hlavac.14', target='_blank', title='Jano Hlaváč')
            img(src='https://1.gravatar.com/avatar/65d66d377f40730b332cb97912a23ffd?s=300&r=pg&d=https%3A%2F%2Fi.imgur.com%2Fv9n8lE3.jpg')
            //janohlavac@gmail.com

        a.logobubble(href='https://www.linkedin.com/in/themaxkozlov/', target='_blank', title='Maxim Kozlov')
            img(src='https://1.gravatar.com/avatar/fe895466e5961f19a1c56b3b64ab445b?s=300&r=pg&d=https%3A%2F%2Fi.imgur.com%2FBKr77f4.jpg')
            //kozlovmaxim.k@gmail.com

        a.logobubble(href='https://www.linkedin.com/in/krist%C3%ADna-horinkov%C3%A1-0ba52a15b/', target='_blank', title='Kristína Horinková')
            img(src='https://1.gravatar.com/avatar/77441695f896380f3f01677952d4558d?s=300&r=pg&d=https%3A%2F%2Fi.imgur.com%2F9ssc8yF.jpg')
            //kristina.horinkova@student.leaf.academy


        a.logobubble(href='https://www.linkedin.com/in/lucia-%C5%A1ikulov%C3%A1-b2612015b/', target='_blank', title='Lucia Šikulová')
            img(src='https://1.gravatar.com/avatar/96b20b992949a35331457fabe50a7e82?s=300&r=pg&d=https%3A%2F%2Fi.imgur.com%2FuJgR92H.jpg')
            //lucia.sikulova@student.leaf.academy

        a.logobubble(href='https://www.pavolhejny.com/', target='_blank', title='Pavol Hejný')
            img(src='https://1.gravatar.com/avatar/10bceb8965947164502b4e7b3314733d?s=300&r=pg&d=mm')
            //me@pavolhejny.com


