div
    .box.contacts
        h2 Plugin pro prohlížeče #[.subtitle (Nedokončená verze)]



        a.logo(href='https://addons.mozilla.org/en-US/firefox/addon/break-the-bubble/', target='_blank', title='Firefox')
            img(src='./images/logos/firefox.png')
        a.logo(href='https://chrome.google.com/webstore/detail/break-the-bubble/gemkooodelmoddcbmemaaafpocfeiegp', target='_blank', title='Chrome')
            img(src='./images/logos/chrome.png')
    .box.events
        h2 Aktuality

        ul
            li #[b 20.1.2017] Základní verze aplikace


    .box.authors
        h2 Autoři

        a.logobubble(href='http://www.vzelinkova.xyz/', target='_blank', title='Veronika Zelinková')
            img(src='./images/authors/veronika-zelinkova.jpeg')

        a.logobubble(href='https://www.pavolhejny.com/', target='_blank', title='Pavol Hejný')
            img(src='https://1.gravatar.com/avatar/3d98c15957c5f5dd227e53dbc7cbb60d?s=300&r=pg&d=mm')

        a.logobubble(href='https://www.linkedin.com/in/vasicekmichal/', target='_blank', title='Michal Vašíček')
            img(src='./images/authors/michal-vasicek.jpeg')

        a.logobubble(href='https://www.linkedin.com/in/jakubrychly/', target='_blank', title='Jakub Rychlý')
            img(src='./images/authors/jakub-rychly.jpeg')
