head
    meta(charset='UTF-8')
    title Break a Bubble
    meta(name='description', content='Break from your social bubble!')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='./index.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Grand+Hotel|Roboto')


    //link(rel='stylesheet', href='./images/bubbles/movingbubbles.css')
    //script(src='./images/bubbles/movingbubbles.js', async)



    //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    //link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.3/css/simple-line-icons.css')
    //link(rel='shortcut icon', href='https://1.gravatar.com/avatar/3d98c15957c5f5dd227e53dbc7cbb60d?s=64&r=pg&d=mm ?>')
    script(src='https://www.googletagmanager.com/gtag/js?id=UA-70710834-5', async)
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-70710834-5');
    script(src='./index.js', async)
