head
    meta(charset='UTF-8')
    title To'Let
    //meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='./index.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')


    //link(rel='stylesheet', href='./images/bubbles/movingbubbles.css')
    //script(src='./images/bubbles/movingbubbles.js', async)



    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-70710834-6')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-70710834-6');


    //SmartLook
    script(type='text/javascript').
        window.smartlook || (function (d) {
            var o = smartlook = function () {
                o.api.push(arguments)
            }, h = d.getElementsByTagName('head')[0];
            var c = d.createElement('script');
            o.api = new Array();
            c.async = true;
            c.type = 'text/javascript';
            c.charset = 'utf-8';
            c.src = 'https://rec.smartlook.com/recorder.js';
            h.appendChild(c);
        })(document);
        smartlook('init', '81e97679580e396c0dd7499c92a6e5a296be8b13');


    // Facebook Pixel Code
    script.
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '372826433192722');
        fbq('track', 'PageView');
    noscript
        img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=372826433192722&ev=PageView&noscript=1')
    // End Facebook Pixel Code
